
/* PARTE 1 – Variabili, Navbar, Hamburger menu */

/* Variabili globali per colori principali */
:root {
    --main-green: rgb(91, 159, 57);
    --background: #f5f9f6;
    --text: #333;
    --white: #fff;
    --gray: #ccc;
    
      /* per debugging 
    --backgroundIconNavbar: var(--white);
    --backgroundBody: rgb(0, 128, 45);      
    --backgroundHeader: rgb(0, 204, 255); 
    --backgroundMain: rgb(0, 145, 255);    */  
}

/* Stile principale della barra di navigazione (navbar): */
.navbar {
    display: flex;
    justify-content: center;    /* centro contenitore */
    align-items: center;
    padding: 1rem;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Quando la navbar ha la classe 'menu-open' (menu aperto),
   imposta lo sfondo bianco pieno e rimuove l'effetto di sfocatura (blur).
   L'uso di !important assicura che il backdrop-filter venga disattivato,
   sovrascrivendo eventuali altre regole CSS. */
.navbar.menu-open {
    background-color: #fff;
    backdrop-filter: none !important;
}

/* PARTE 2 – Struttura della navbar e hamburger */

/* Contenitore interno della navbar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

/* Ordine degli elementi */
.hamburger {
    order: 1;
}

.navbar-logo {
    order: 2;
}

.navbar-icons {
    order: 3;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Stile per il logo nella navbar */
.navbar-logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* Stile per l'immagine del logo PNG */
.logo-img {
    height: 3rem;
    width: auto;
    transform: scale(3.5);
    max-height: 100%;
    display: block;
    object-fit: contain;
}

/* Stile per il pulsante hamburger (icona menu) */
.hamburger {
    position: relative;
    width: 30px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text);
    margin-right: 1rem;
}

/* Linee hamburger */
.hamburger::before,
.hamburger::after,
.hamburger span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--text);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger span {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger::before {
    top: 0;
}

.hamburger::after {
    bottom: 0;
}

/* Trasformazione in X */
.hamburger.active::before {
    transform: rotate(45deg);
    top: 50%;
}

.hamburger.active::after {
    transform: rotate(-45deg);
    bottom: 50%;
}

.hamburger.active span {
    opacity: 0;
}

/* PARTE 3 – Link e icone*/

/* Lista link */
.navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    background-color: var(--white);
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    list-style: none;
    gap: 1rem;
    margin: 0;
}

.navbar-links.active {
    display: flex;
}

.navbar-links li {
    width: 100%;
    text-align: left;
}

/* Link */
.navbar-links li a {
    text-decoration: none !important;
    color: var(--text) !important;
    position: relative;
}

.navbar-links li a:hover {
    color: var(--main-green);
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-green);
    transition: width 0.3s ease-in-out;
}

.navbar-links li a:hover::after {
    width: 100%;
}

/* Icone */
.icon-img {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    vertical-align: middle;
    cursor: pointer;
    transition: opacity 0.2s;
}

.icon-img:hover {
    opacity: 0.7;
}

/* PARTE 5 – Stili di base per l'header, il body e il main della pagina */

header {
    background-color: var(--backgroundHeader);
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--text);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    line-height: 1.6;
    background-color: var(--backgroundBody);
}

main {
    max-width: 1100px;
    align-items: center;
    margin: 2rem auto;
    margin-top: 0; 
    padding: 0.5rem;
    background-color: var(--backgroundMain);
}

/* Footer sempre in basso e centrato */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--white);
    font-size: 0.9rem;
    color: #333;
}

/* ---------------------------------------------------------- */
                                
                                /* perfumes.css */

/* Card del profumo */
.perfume-card {
    max-width: 800px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--background); 
}

.perfume-card img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 6px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.perfume-card h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.perfume-card p,
.perfume-card li {
    text-align: center;
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

/* Immagine preview del profumo */
.perfume-image {
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: block;
}

/* Nome del profumo */
.perfume-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

/* Marca del profumo */
.perfume-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

/* ---------------------------------------------------------- */

/* Contenitore del video fuori dalla card */
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 1.5rem auto;
    padding-top: 56.25%;
    overflow: hidden;
    box-sizing: border-box;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-------------------------------------------------------------*/
                 /* Pulsante di condivisione */

.share-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  width: 190px;
  height: 40px;
  background-color: var(--white);
  color: var(--text);
  border: 2px solid var(--main-green);           
  border-radius: 6px;
  font-size: 15px;
  gap: 2px;
}

.share-button:hover {
  background-color: var(--background);
}

.share-icon-button {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.toast {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
  width: 300px;
  max-width: 60%;
  text-align: center;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
}

/*-------------------------------------------------------------*/

                            /* Descrizione del profumo */

.perfume-details {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--background);
    border-left: 6px solid var(--main-green);
}

.perfume-details h1 { 
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.perfume-details h2 { 
    text-align: justify;
    font-size: 1rem;
    font-weight: normal;
    color: #444;
    line-height: 1.6;
}

.perfume-details p { 
    text-align: center;
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

.perfume-details li {        
    text-align: center;
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    list-style-type: none;
}

/*******************************************************************/

                                /* Lista dei profumi */

.perfume-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 1rem;
}

.perfume-list-card {
    background-color: var(--background);
    border-left: 6px solid var(--main-green);
    padding: 1.2rem;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.perfume-list-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfume-list-image {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.perfume-list-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.perfume-list-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}